.mainBlock {
  margin-right: auto;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 100%;
  background-color: #85b6ec;
}

.imageContainer {
  margin-top: 100px;
  margin-left: 700px;
  display: flex;
  justify-content: flex-end;
  width: 800px;
  height: 100%;
}

//Задник
.back {
  height: 350px;
  width:700px;
  content: "";
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/BackShoes.png");
  mask-image: url("../img/BackShoes.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  position: fixed;
  top: 83px;
  left: 593px;
}

.bottom {
  height: 370px;
  width:750px;
  content: "";
  position: fixed;
  top: 186px;
  left: 780px;
  bottom: 0;
  z-index: 0;

  -webkit-mask-image: url("../img/SoleBottom.png");
  mask-image: url("../img/SoleBottom.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
.sole {
  height: 370px;
  width:750px;
  content: "";
  position: fixed;
  top: 97px;
  left: 800px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/Sole.png");
  mask-image: url("../img/Sole.png");

  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}


.sideBottom {
  height: 500px;
  width:950px;
  content: "";
  position: fixed;
  top: 40px;
  left: 700px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/SideBottom.png");
  mask-image: url("../img/SideBottom.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.shape {
  height: 500px;
  width: 970px;
  top: 47px;
  left: 690px;
  content: "";
  position: fixed;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/Laces.png");
  mask-image: url("../img/Laces.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.front {
  height: 500px;
  width:950px;
  content: "";
  position: fixed;
  top: 42px;
  left: 701px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/Front.png");
  mask-image: url("../img/Front.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
.piece {
  height: 500px;
  width:950px;
  content: "";
  position: fixed;
  top: 43px;
  left: 700px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/piece.png");
  mask-image: url("../img/piece.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.pieceBack {
  height: 500px;
  width:950px;
  content: "";
  position: fixed;
  top: 41px;
  left: 704px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/BackFont.png");
  mask-image: url("../img/BackFont.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}