.mainBlock {
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 100%;
  background-color: #85b6ec;
}

.imageContainer {
  margin-top: 100px;
  margin-left: 700px;
  display: flex;
  justify-content: flex-end;
  width: 800px;
  height: 100%;
}

//Задник
.back {
  height: 350px;
  width:700px;
  content: "";
  position: absolute;
  top: 145px;
  left: 370px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/BackShoes.png");
  mask-image: url("../img/BackShoes.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.bottom {
  height: 370px;
  width:750px;
  content: "";
  position: absolute;
  top: 248px;
  left: 557px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/SoleBottom.png");
  mask-image: url("../img/SoleBottom.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
.sole {
  height: 370px;
  width:750px;
  content: "";
  position: absolute;
  top: 159px;
  left: 580px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/Sole.png");
  mask-image: url("../img/Sole.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}


.sideBottom {
  height: 500px;
  width:950px;
  content: "";
  position: absolute;
  top: 102px;
  left: 480px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/SideBottom.png");
  mask-image: url("../img/SideBottom.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.shape {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 0;
  mask-image: url("../img/Laces.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.front {
  height: 500px;
  width:950px;
  content: "";
  position: absolute;
  top: 105px;
  left: 480px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/Front.png");
  mask-image: url("../img/Front.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
.piece {
  height: 500px;
  width:950px;
  content: "";
  position: absolute;
  top: 105px;
  left: 480px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/piece.png");
  mask-image: url("../img/piece.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.pieceBack {
  height: 500px;
  width:950px;
  content: "";
  position: absolute;
  top: 105px;
  left: 481px;
  bottom: 0;
  z-index: 0;
  -webkit-mask-image: url("../img/BackFont.png");
  mask-image: url("../img/BackFont.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}