.search_block {
  border: 1px solid #03081e;
  .clear {
    position: absolute;
    right: 0;
  }
}
.clear {
  height: 55px;
  width: 55px;
}
.container{
  background-image: url('https://kalix.club/uploads/posts/2022-12/1671740008_kalix-club-p-fon-dlya-prezentatsii-tsifrovizatsiya-pint-1.jpg') ;
  background-repeat: no-repeat ;
  background-size: 100vw 100vmax;
}

.backPayment {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://kalix.club/uploads/posts/2022-12/1671740008_kalix-club-p-fon-dlya-prezentatsii-tsifrovizatsiya-pint-1.jpg') ;
  background-repeat: no-repeat ;
  background-size: 150vw 100vmax;
}